* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ==================== Comon ==================== */
:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    padding: 0 20px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}
/* ==================== Header ==================== */
.header {
    height: 100vh;
    background: var(--secondary-color);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    background: var(--primary-color);
    width: 3em;
    height: 3em;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background: #ffffff;
    width: 1.6em;
    height: 1.6em;
}

.logo__text {
    text-align: right;
    margin-left: 0.6em;
    color: #ffffff;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 0 18px;
}

.navbar__link {
    padding: 8px 12px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #c9d2da;
}

.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    text-align: center;
    color: #ffffff;
}

.navbar__link--active::before {
    content: "";
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 16px;
    padding: 8px 12px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}

.action__signup {
    min-width: 104px;
    height: 44px;
    font-size: 1.6rem;
    line-height: 44px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    margin: 76px 0 110px 0;
}

.hero__content {
    width: 44%;
    margin-right: 113px;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin: 22px 0 38px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* ==================== Service ==================== */
.service {
    padding: 170px 0;
    background: #e5e5e5;
}

.service__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: #10375c;
}

.service__desc {
    margin: 18px auto 70px auto;
    width: 468px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575f66;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    margin-right: 130px;
}

.service-list {
    margin-bottom: 55px;
}

.service__row {
    display: flex;
    align-items: center;
}

.service-item {
    display: flex;
    margin: 8px 0;
    padding: 16px 18px 16px 22px;
    border-radius: 10px;
    background: #ffffff;
    transition: 0.3s;
}

.service-item:hover {
    cursor: pointer;
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-right: 19px;
    flex-shrink: 0;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    color: #10375c;
    transition: 0.3s;
}

.service-item:hover .service-item__icon {
    background: var(--primary-color);
    color: #ffffff;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.28;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
