* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ==================== Common ==================== */
:root {
    --primary-color: #2e80ce;
    --secondary-color: #10375c;
}

a {
    text-decoration: none;
    color: currentColor;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    display: inline-block;
    min-width: 205px;
    height: 60px;
    padding: 0 20px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    color: #575f66;
    transition: 0.3s;
}

.control__btn:hover {
    background: var(--primary-color);
    color: #ffffff;
    border-color: var(--primary-color);
}
/* ==================== Header ==================== */
.header {
    height: 100vh;
    background: var(--secondary-color);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    background: var(--primary-color);
    width: 3em;
    height: 3em;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    background: #ffffff;
    width: 1.6em;
    height: 1.6em;
}

.logo__text {
    text-align: right;
    margin-left: 0.6em;
    color: #ffffff;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 0 18px;
}

.navbar__link {
    padding: 8px 12px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #c9d2da;
}

.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    text-align: center;
    color: #ffffff;
}

.navbar__link--active::before {
    content: "";
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 16px;
    padding: 8px 12px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}

.action__signup {
    min-width: 104px;
    height: 44px;
    font-size: 1.6rem;
    line-height: 44px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    margin: 76px 0 110px 0;
}

.hero__content {
    width: 44%;
    margin-right: 113px;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin: 22px 0 38px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    margin-left: -6px;
}

/* ==================== Service ==================== */
.service {
    padding: 170px 0;
    background: #e5e5e5;
}

.service__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--secondary-color);
}

.service__desc {
    margin: 18px auto 70px auto;
    width: 468px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #575f66;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    margin-right: 130px;
}

.service-list {
    margin-bottom: 55px;
}

.service__row {
    display: flex;
    align-items: center;
}

.service-item {
    display: flex;
    margin: 8px 0;
    padding: 16px 18px 16px 22px;
    border-radius: 10px;
    background: #ffffff;
    transition: 0.3s;
}

.service-item:hover {
    cursor: pointer;
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-right: 19px;
    flex-shrink: 0;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    color: var(--secondary-color);
    transition: 0.3s;
}

.service-item:hover .service-item__icon {
    background: var(--primary-color);
    color: #ffffff;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.28;
    color: var(--secondary-color);
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* ==================== Work ==================== */
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work-item {
    padding: 43px 42px;
    background: #ffffff;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.4s;
}

.work-item:hover {
    border-color: var(--primary-color);
    transform: translateY(-16px);
}

.work__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--secondary-color);
}

.work__desc {
    margin: 18px 0 86px 0;
    width: 468px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.work__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 30px;
}

.work-item__heading {
    margin: 18px 0 28px 0;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: var(--secondary-color);
}

.work-item__desc {
    width: 254px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item:hover .work-item__more {
    color: var(--primary-color);
}

/* ==================== Work ==================== */
.feature {
    padding: 170px 0 70px 0;
    background: #e5e5e5;
}

.feature__inner {
    display: flex;
    align-items: center;
    gap: 0 130px;
}

.feature__media {
    width: 49%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    height: 370px;
    width: 512px;
    object-fit: cover;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}

.feature__img:last-child {
    position: absolute;
    top: 121px;
    left: 238px;
    width: 332px;
}

.feature__heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--secondary-color);
}

.feature__desc {
    margin: 18px 0 38px 0;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

/* ==================== Member ==================== */
.member {
    padding: 100px 0;
    background: #e5e5e5;
}

.member-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member-header__heading {
    margin-bottom: 38px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--secondary-color);
}

.member-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin: 70px 0 38px;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 270px;
    height: 318px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.5s;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375c;
}

.member-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #575f66;
}

/* ==================== Instal ==================== */
.instal {
    padding: 165px 0 70px;
    background: #e5e5e5;
}

.instal__inner {
    position: relative;
    background: var(--primary-color);
    border-radius: 4px;
}

.instal__img {
    position: absolute;
    bottom: 0;
    left: 70px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.instal__content {
    padding: 76px 70px 75px 514px;
}
.instal__heading {
    width: 489px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.instal_desc {
    margin: 18px 0 38px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.76;
    color: #ffffff;
}

.instal-row {
    display: flex;
    align-items: center;
    gap: 0 28px;
}

.instal__link {
    color: #ffffff;
    transition: 0.5s;
}

.instal__link:hover {
    color: #000000;
}
